<footer class="usa-footer usa-footer-medium" role="contentinfo">

  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-footer-logo usa-width-one-half">

        @@if (index == 'true') {
          <img class="usa-footer-logo-img" src="img/census-logo-white.svg" alt="Logo image"> } 

        @@if (index == 'false') {
          <img class="usa-footer-logo-img" src="../img/census-logo-white.svg" alt="Logo image"> }
        
      </div>
      <div class="usa-footer-contact-links usa-width-one-half">
        <a class="usa-link-facebook" href="javascript:void(0);">
          <span>Facebook</span>
        </a>
        <a class="usa-link-twitter" href="javascript:void(0);">
          <span>Twitter</span>
        </a>
        <a class="usa-link-youtube" href="javascript:void(0);">
          <span>YouTube</span>
        </a>
        <a class="usa-link-rss" href="javascript:void(0);">
          <span>RSS</span>
        </a>
        
      </div>
    </div>
  </div>
</footer>