<footer class="usa-footer usa-footer-medium" role="contentinfo">

  <div class="usa-footer-secondary_section">
    <div class="usa-grid-wide">
      <div class="usa-footer-logo usa-width-one-sixth">

        @@if (index == 'true') {
          <img class="usa-footer-logo-img" src="img/census-logo-white.svg" alt="Logo image"> } 

        @@if (index == 'false') {
          <img class="usa-footer-logo-img" src="../img/census-logo-white.svg" alt="Logo image"> }
        
      </div>
      <div class="usa-width-five-sixths">
        <p>
          <a href="https://www.census.gov/about/policies/privacy/privacy-policy.html#par_textimage_1">Accessibility</a> | 
          <a href="https://www.census.gov/quality/">Information Quality</a> |
          <a href="https://www.census.gov/foia/">FOIA</a> |
          <a href="https://www.census.gov/privacy/">Data Protection and Privacy Policy</a> |
          <a href="https://www.commerce.gov/">Data Protection and Privacy Policy</a>
        </p>
        
      </div>
    </div>
  </div>
</footer>