<footer class="usa-footer usa-footer-medium" role="contentinfo">

  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-footer-logo usa-width-one-half">

        @@if (index == 'true') {
          <img class="usa-footer-logo-img" src="img/census-logo-white.svg" alt="Logo image"> } 

        @@if (index == 'false') {
          <img class="usa-footer-logo-img" src="../img/census-logo-white.svg" alt="Logo image"> }
        
      </div>
    </div>
  </div>
</footer>