<head>
  <meta charset="utf-8">

  <!--

      Built by Coding it Forward Fellows 
      (https://www.codingitforward.com/)

    -->

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>@@title</title>
  <meta name="description" content= @@description>


  @@if (index == 'true') {
    <link type="text/css" rel="stylesheet" href="css/smb.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon-57.png"/>

    <script src="js/jquery.min.js"></script>
    <script src="js/uswds.min.js"></script>
    <script src="js/smb.js"></script>  } 

  @@if (index == 'false') {
  	<link type="text/css" rel="stylesheet" href="../css/smb.css">
    <link rel="shortcut icon" type="image/png" href="../img/favicon-57.png"/>

  	<script src="../js/jquery.min.js"></script>
    <script src="../js/uswds.min.js"></script>
    <script src="../js/smb.js"></script> }
	

</head>