// Featured Content
.featured-content {
	height: $featured-height;
	background-color: $color-gray-lighter;
	padding: 3%;
	
	.featured-text {
		padding: 5%;
		background-color: $color-white;
		/* opacity: 0.8; 
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0.7+100 */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b3ffffff',GradientType=0 ); /* IE6-9 */
	}

	h3 {
		font-family: $font-serif;
		font-weight: $font-bold;
		font-size: $h1-font-size;
		line-height: $heading-line-height;
		margin-top: 1%;
	}

	p {
		margin: 0;
		margin: 2% 0;
		font-family: $font-sans;
		font-weight: $font-normal;
		font-size: $h3-font-size;
		line-height: $base-line-height;
	}

	a {
		@include media($medium-screen) {
			
		}


	}

	@include media($medium-screen) {
		margin-bottom: 0;
	}

}

.featured-link {
	display: inline-block;
	min-height: $featured-height / 3.05;
	width: 100%;
	background-color: $color-gray-lightest;
	padding: 5%;

	&:hover {
		background-color: $color-gray-lighter;
	}

	&:last-child {
		margin-bottom: 0;
	}

	@include media($medium-screen) {
		height: $featured-height / 3.05;
	}

}

.featured-link-icon {
	width: 30%;

	img {
		padding: 12%;
		margin-top: 0;
		display: inline-block;
		float: left;

		@include media($medium-screen) {
			margin-top: 10%;
			width: 100%;
			padding: 5%;
		}
	}
}

.featured-link-text-container {
	width: 70%;
	padding: 5%;
	margin-top: 0;
	float: right;

	@include media($medium-screen) {
		// margin-top: 3%;
	}

	h3 {
		margin: 0;
		font-family: $font-sans;
		font-weight: $font-bold;
		font-size: $h3-font-size;
		line-height: $heading-line-height;
	}

	p {
		margin: 0;
		margin-top: 2%;
		font-family: $font-sans;
		font-weight: $font-normal;
		font-size: $h4-font-size;
		line-height: $base-line-height;
	}
}

.box-link {
	text-decoration: none;
	color: $color-gray-dark;
	background-color: none;

	&:visited {
		color: $color-gray-dark;
	}

	&:focus {
		box-shadow: none;
	}
}

#new-feature {
	background-image: url('#{$image-path}/stock/restaurant-sm.jpg');
  	background-position: center;
  	background-size: cover;
}


#grow-feature {
	background-image: url('#{$image-path}/stock/report-sm.jpg');
  	background-position: center;
  	background-size: cover;
}