.usa-section-dark {
	.usa-hero-link {
		color: $color-white;
	}
}

.usa-hero {
	
}

#landing-hero {
	background-image: url('../img/hero.jpg');
	background-position: center;
  	background-size: cover;
}

.usa-hero-callout {
	background-color: $color-white;
	min-height: 40rem;
	/* opacity: 0.8; 
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0.7+100 */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b3ffffff',GradientType=0 ); /* IE6-9 */

	padding-top: 8rem;
	@include media($small-screen) {
		max-width: 100%;
	}

	h2 {
		color: $color-primary-darkest;
		font-size: 2.9em;
		font-family: $font-sans;
	}

	p {
		margin-top: 2rem;
		font-family: $font-sans;
		font-size: $h3-font-size;
	}

	.usa-button {
		margin-top: 1rem;
		width: auto;
		font-size: 1.5em;
		text-transform: uppercase;
		border-radius: 0;
		padding: 0.8em;
	}
}

.usa-hero-callout-alt {
	color: $color-gray-dark;
	font-size: 1.8em;
}


