legend {
	font-size: $h3-font-size;
	font-weight: $font-normal;
}

form {

	[type=submit] {
		display: inline-block;
		margin: 0;
		margin-top: 2rem;
	}
}

label {
	margin: auto;
	display: inline-block;
}

input {
	display: inline-block;

	&.usa-input-medium {
		margin: auto;
		@include media($medium-screen) {
			max-width: 20rem;
		}
	}
}


.usa-form-large {
	@include media($medium-screen) {
		max-width: 100%;
	}
}


.cbb-input {
	background-color: white;
	height: 40rem;
	padding: 5%;	
	text-align: center;

	h3 {
		text-align: center;
		color: $color-gray-dark;
	}
}

.input-container {
	padding: 10% 0;

	h4 {
		font-family: $font-sans;
		font-weight: $font-normal;
		//text-transform: uppercase;
	}
}