// navigation 2
#nav-desktop {
	display: none;
	width: 100%;
	@include media($nav-width) {
		display: block;

	}
}

#nav-mobile {
	display: block;
	@include media($nav-width) {
		display: none;
	}
}

.usa-nav-primary {

	li {
		list-style: none;

		a {
			color: $color-gray-dark;
		}
	}
}

.usa-nav-link:hover span {
	border: none;
}

.sub-nav-container {
	display: none;
	position: absolute;
	background-color: white;
	border-bottom: 5px solid $color-primary;
	border-top: 5px solid $color-primary;

	width: 30%;
	margin: 0;
	padding: 0;
	text-align: center;

	a {
		display: block;
		width: 100%;
	}

	.sub-nav-link {


	}
}


.usa-nav-link {
	display: inline-block;

}



// real nav
.usa-menu-btn {
	background-color: $color-cool-blue;
}

.user-tag {
	display: inline-block;

	p {
		font-family: $font-sans;
		font-size: $h6-font-size;
		color: $color-white;
		text-transform: capitalize;
		margin: 3rem 0 0 1.5rem;
	}
}

#logo {
	display: inline-block;

	img {
		height: 2rem;
		@include media($nav-width) {
			height: 3.5rem;
			margin-left: 1.5rem;
			margin-top: 1.5rem;
		}
	}
}

.usa-logo img {
	height: 1.5rem;
	margin-top: 0.7rem;

	@include media($medium-screen) {
		height: 3rem;
	}
}

// Side navigation
.usa-sidenav-list {
	a{

		&:focus {
			box-shadow: none;
		}

		&:hover {
			background-color: $color-white;
			color: $color-gray-dark;
			font-weight: $font-bold;
		}
		
	}
}


a {
	&:focus {
		box-shadow: none;
	}
}

.usa-layout-docs {
	height: 100%;
}

.usa-layout-docs-sidenav {
	display: none;

	@include media($large-screen) {
		display: block;
		position: absolute;
	 	margin-top: 9rem;
	}
}


.usa-sidenav-list {

	&.first-child {
		font-weight: $font-bold;
	}

	&.fixed {
		position: fixed;
		top: 0;
	}

	&.bottom {
		position: relative;
		top: auto;
		bottom: 0;
	}

	li {
		position: relative;
		border: none;
	}
	
}


.current {
	border-left: 4px solid $color-primary;
  	color: $color-primary;
    font-weight: $font-bold;
    padding-left: 1.4rem;
}

// usa banner
.usa-banner {

	padding-bottom: 0;
	@include media($medium-screen) {
		padding-bottom: 0.7rem;
	}
}

