// navigation 2 sandbox

.dropdown {
	

	
	button {
		background-color: $color-white;
		color: $color-gray-dark;
		border-radius: 0;

		&:hover {
			background-color: $color-primary;
			color: $color-white;
		}
	}

	&:hover .dropdown-menu {
		display: block;
	}
}

.dropdown-list {
	position: relative;
	display: inline-block;

	.dropdown-menu {
		position: absolute;
		display: none;
		top: 100%;
		left: 0;
		margin: 0;

		list-style: none;
		width: 100%;

	}
}




// real nav
.user-tag {
	display: inline-block;

	p {
		font-family: $font-sans;
		font-size: $h6-font-size;
		color: $color-white;
		text-transform: capitalize;
		margin: 3rem 0 0 1.5rem;
	}
}

.usa-logo {
	display: inline-block;
}


// Side navigation

.usa-layout-docs {
	display: flex;
	height: 100%;
}

.usa-layout-docs-sidenav {
	display: none;
	align-items: stretch;

	@include media($large-screen) {
		display: block;
		position: absolute;
	 	margin-top: 6rem;
	 	align-items: stretch;
	}
}


.usa-sidenav-list {

	&.first-child {
		font-weight: $font-bold;
	}

	&.fixed {
		position: fixed;
		top: 0;
	}

	&.bottom {
		position: relative;
		top: auto;
		bottom: 0;
	}

	li {
		position: relative;
		border: none;
	}
	
}

.usa-layout-docs-main_content {
	position: relative;
	float: right;
	margin: auto;
	padding-left: 2%;


	h1, h2, h3 {
		font-family: $font-sans;
		font-weight: $font-bold;
	}

	.img-container {
		width: 100%;
		//text-align: center;

		height: 35rem;

		img {
			height: 100%;
		}
	}

}

.usa-font-lead {
	font-family: $font-sans;
}

.current {
	border-left: 4px solid $color-primary;
  	color: $color-primary;
    font-weight: $font-bold;
    padding-left: 1.4rem;
}


