#report-section {
	padding: 3% 3% 10% 3%;

	@include media($medium-screen) {
		padding: 5%;
	}
	min-height: 60vh;

	h2 {
		font-family: $font-sans;
		font-weight: $font-bold;
	}

	p {
		font-size: $h3-font-size;
		font-weight: 300;
		margin-bottom: 5%;
	}

	input {

		width: 100%;
		@include media($medium-screen) {
			width: 75%;
		}
	}
	img {
		margin-bottom: 10%;
	}
}

.input-container {
	padding-left: 0;

	@include media($medium-screen) {
		padding-left: 5%;
	}

	h4 {
		font-family: $font-sans;
		font-weight: $font-bold;
		text-transform: uppercase;
		margin-top: 0;

	}

	a {
		text-decoration: none;

		p {
			margin: 0;
		}
	}

	button {
		display: block;
		height: 5rem;
		width: 30%;
		text-transform: uppercase;
		border-radius: 0;
		font-size: $h3-font-size;

		&:focus {
			box-shadow: 0;
		}
	}
	
}

#report {
	width: 100%;
	text-align: center;

	@include media($large-screen) {
		width: 50%;
		float: right;
		margin: 5% 25% 0 0;
	}
	
}