.usa-section-light {

	.image-container {
		padding: 1%;
		img {
			width: 100%;
		}
	}
	
	.text-container {
		padding: 1%;

		.article-tag {
			font-family: $font-sans;
			color: $color-gray-dark;
			font-size: $small-font-size;
			text-transform: uppercase;
			margin: 0;
			font-weight: $font-bold;
			padding-bottom: 2%;
		}

		h1 {
			font-family: $font-sans;
			color: $color-gray-dark;
			margin: 0;
		}

		h5 {
			font-family: $font-sans;
			color: $color-gray-dark;
			font-size: $h3-font-size;
			font-weight: $font-normal;
			padding-bottom: 2%;
		}

	}
}


.three-section-container {

	background-color: $color-white;

	.title-container {
		width: 100%;
		display: block;
		border-bottom: 3px solid $color-gray-dark;
		margin-bottom: 3%;

		h3 {
			font-family: $font-sans;
			text-transform: uppercase;
			font-weight: $font-bold;
		}
	}

	.content-container {
		background-color: $color-gray-lightest;
		padding: 2%;
		height: 100%;

		img {
			width: 100%;
		}

		h3 {
			margin: 0;
			font-weight: $font-bold;
		}
	}

	
}


.usa-layout-docs-main_content {
	position: relative;
	float: right;
	margin: auto;

	@include media($large-screen) {
		border-left: 5px solid $color-gray-lightest;
		padding-left: 4%;
	}

	h1, h2, h3 {
		font-family: $font-sans;
		font-weight: $font-bold;
	}

	h4 {
		font-family: $font-sans;
		font-weight: $font-normal;
		font-style: italic;
	}

	p {
		margin: 0;
	}

	.img-container {
		width: 100%;
		//text-align: center;

		height: 35rem;

		img {
			height: 100%;
		}
	}

	.tutorial-container {
		width: 100%;
		min-height: 25rem;
		margin-bottom: 5%;


		img {
			padding-top: 3%;

		}

		p {
			padding: 10% 0 0 0;
			max-width: 100%;

			@include media($medium-screen) {
				padding: 10% 0 0 5%;
			}
		}

		.tip {
			padding-top: 0;
			font-weight: 300;
			font-size: $h5-font-size;
		}
	}

}

.usa-font-lead {
	font-family: $font-sans;
}



