.usa-section-dark {
	.usa-hero-link {
		color: $color-white;
	}
}

.usa-hero {
	background-color: $color-white;
}

.usa-hero-callout {
	background-color: $color-white;
	padding-top: 5rem;
	@include media($small-screen) {
		max-width: 100%;
	}

	h2 {
		color: $color-gray-dark;
		font-size: 2.3em;
	}

	p {
		margin-top: 2rem;
		font-family: $font-sans;
		font-size: $h3-font-size;
	}

	.usa-button {
		margin-top: 1rem;
		width: 75%;
	}
}

.usa-hero-callout-alt {
	color: $color-gray-dark;
	font-size: 1.8em;
}




// Featured Content
.featured-content {
	height: $featured-height;
	background-color: $color-primary;
}

.featured-link {
	display: inline-block;
	height: $featured-height / 3;
	width: 100%;
	background-color: $color-gray-lightest;

	&:hover {
		background-color: $color-gray-lighter;
	}
}

.featured-link-icon {
	width: 30%;

	img {
		padding: 12%;
		margin-top: 20%;
		display: inline-block;
		float: left;
	}
}

.featured-link-text-container {
	width: 70%;
	padding: 5%;
	margin-top: 3%;
	float: right;

	h3 {
		margin: 0;
		font-family: $font-sans;
		font-weight: $font-bold;
		font-size: $h3-font-size;
		line-height: $heading-line-height;
	}

	p {
		margin: 0;
		margin-top: 2%;
		font-family: $font-sans;
		font-weight: $font-normal;
		font-size: $h4-font-size;
		line-height: $base-line-height;
	}
}

.box-link {
	text-decoration: none;
	color: $color-gray-dark;
}