.usa-section-dark {
	.usa-hero-link {
		color: $color-white;
	}
}

.usa-hero {
	background-color: $color-white;
}

.usa-hero-callout {
	background-color: $color-white;
	padding-top: 5rem;
	@include media($small-screen) {
		max-width: 100%;
	}

	h2 {
		color: $color-gray-dark;
		font-size: 2.3em;
	}

	p {
		margin-top: 2rem;
		font-family: $font-sans;
		font-size: $h3-font-size;
	}

	.usa-button {
		margin-top: 1rem;
		width: 75%;
	}
}

.usa-hero-callout-alt {
	color: $color-gray-dark;
	font-size: 1.8em;
}


