legend {
	font-size: $h3-font-size;
	font-weight: $font-normal;
}

form {

	[type=submit] {
		display: inline-block;
		margin: 0;
		margin-top: 2rem;
	}
}

label {
	margin: auto;
	display: inline-block;
}

input {
	display: inline-block;

	&.usa-input-medium {
		margin: auto;
		@include media($medium-screen) {
			max-width: 20rem;
		}
	}
}


.usa-form-large {
	@include media($medium-screen) {
		max-width: 100%;
	}
}
